.git
.github
.env
.env.*
!.env.example
node_modules
vendor
bootstrap/cache/*.php
storage/*.key
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
public/build
public/hot
public/storage
tests
.phpunit.result.cache
.editorconfig
.gitattributes
.gitignore
README.md
